body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #f8c2c2, #fdd5c2);
    color: #333;
    text-align: center;
  }
  
  header {
    background: #f8c2c2;
    padding: 10px;
    border-bottom: 2px solid #fdd5c2;
  }
  
  header h1 span {
    color: red;
  }

  .profile .photo img {
    width: 200px; /* Lebar gambar */
    height: 200px; /* Tinggi gambar */
    border-radius: 50%; /* Membuat lingkaran */
    border: 5px solid #f06292; /* Warna dan tebal border */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Efek bayangan */
  }
  
  .audio {
    margin-top: 20px;
  }
  
  .gallery {
    margin-top: 30px;
  }
  
  .gallery h2 {
    color: #f06292;
  }
  
  .photo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Membuat 3 kolom dengan ukuran yang sama */
    gap: 20px; /* Memberikan jarak antar elemen */
    justify-items: center; /* Memusatkan elemen di setiap kolom */
  }
  
  .photo-rectangle {
    width: 299px;
    height: 299px;
    clip-path: rectangle(50% 0%, 61% 7%, 71% 19%, 77% 30%, 79% 45%, 75% 58%, 65% 75%, 50% 100%, 35% 75%, 25% 58%, 21% 45%, 23% 30%, 29% 19%, 39% 7%);
    background: #fff;
    border: 2px solid #f8c2c2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .photo-rectangle img {
    width: 90%;
    height: 90%;
    border-radius: 20%;
  }
